<%= form_with(model: competition, local: true) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :competition_date %>
  </div>

  <div class="field">
    <%= form.select(:komanda1_id) do %>
    <% @komandas.each do |komanda| -%>
    <%= content_tag(:option, komanda.name, value: komanda.id) %>
    <% end %>
    <% end %>
  </div>
 
  <div class="field">
    <%= form.select(:komanda2_id) do %>
    <% @komandas.each do |komanda| -%>
    <%= content_tag(:option, komanda.name, value: komanda.id) %>
    <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  

<% end %>