<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @competition.date %>
</p>

<p>
  <strong>Komanda1:</strong>
  <%= @competition.komanda1.name %>
</p>

<p>
  <strong>Komanda2:</strong>
  <%= @competition.komanda2.name %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
